.App {
    font-family: sans-serif;
    text-align: center;
    background: grey;
    padding: 10px;
}

.red {
    background: red;
    padding: 10px;
}

.blue {
    background: blue;
    padding: 10px;
    color: white;
}
